<h4>Ship a Parcel</h4>
<form action="/mails" method="post">
  <label for="description">Describe the Parcel</label>
  <input id="description" name="description" type="text"><br />
  <label for="weight">Weight</label>
  <input id="weight" name="weight" type="number"><br />
  <p>Specify Parcel Dimensions</p>
  <label for="length">Length</label>
  <input id="length" name="length" type="text"><br />
  <label for="width">Width</label>
  <input id="width" name="width" type="text"><br />
  <label for="height">Height</label>
  <input id="height" name="height" type="text"><br />
  <button type="submit">Submit</button>
</form>